---
date: "2022-11-05"
description: "Blog posts for Eric Carlisle."
layout: section
eleventyNavigation:
  key: "Posts"
  order: 2
og_image: 
  alt: "Eric Carlisle : UI Developer, UX Strategist"
  height: 800
  type: "image/png"
  url: "/img/eric-carlisle-800x800.png"
  width: 800
og_type: blog
pagination:
  data: collections.posts
  size: 20
  alias: pages
permalink: /posts/index.html
tags: 
  - "section"
title: "Posts"
---
<hr/>
<ul class="article-list">
  {%- for page in pages -%}
  <li>
    <article>
      <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
      <h2>
        <a href="{{ page.url }}">{{ page.data.title }}</a>
      </h2>
      <div class="content">
        <a href="{{ page.url }}">{%-
          component "Image.tsx", 
          slug=page.data.images[0]["slug"],
          host=site.hostname,
          alt=page.data.images[0]["alt"]
        -%}</a>
        {{ page.data.excerpt | safe }}
      </div>
    </article>
  </li>
  {%- endfor -%}
</ul>